table id="sorted_beer_item_list" class="itemlist"
  thead
    tr
      th width=200	Name
      th width=230	Bar
      th width=150	Style
      th width=120	Pouring
      th width=100 class="abd-table-heading"	ABD
      th width=80	Price
  tbody
    - for deal in @best_deals do
      tr
        td = link_to(deal.beer.name, deal.beer)
        td = link_to(deal.bar.name, deal.bar)
        td = deal.beer.try(:beer_style) ? deal.beer.beer_style.name : nil
        - unless (deal.volume.nil? || deal.volunit.nil?)
          td = "#{number_to_human(deal.volume, :units => {:unit => deal.volunit})} #{deal.pouring}"
        - else
          td 
        td = sprintf("%.3f",deal.abd)
        td = number_to_currency(deal.price)