<div id="home">
	<div class="toolbar">
		<h1>BeerList Home</h1>
	</div>
		<ul class="edgetoedge">
			<li><a href="#bars">Bars</a></li>
			<li><a href="#beers">Beers</a></li>
			<li><%= link_to "Breweries", breweries_path %></li>
		</ul>
</div>
