<div data-role="page" id="beer_items_index">

	<div data-role="header">
		<h1>ATL Beer List</h1>
		<%= render :partial => "layouts/login_or_logout" %>
	</div>

	<div data-role="content">
		<p>
			Welcome to AtlBeerList.com!  Here you will find beer lists from bars across 
			Atlanta, allowing you to check what's pouring before you get there and check
			what's new.  Login or create an account by clicking the "Signup" button above to add 
			and edit records to help others find deals too!
		</p>

		<h1>Best Deals</h1>
			<ul data-role="listview" data-inset="true" data-theme="d">
			  <% for beer_item in @best_deals %>
			    <li>
			      <%= link_to beer_item.beer.name, beer_item %>
						<div class="ui-li-count"><%= sprintf("%.3f",beer_item.abd) %></div>
			    </li>
			  <% end %>
			</ul>
	</div>

	<%= render :partial => "layouts/footer" %>

</div>