<div id="home">
	<div class="toolbar">
		<h1>Show</h1>
		<a href="#login" class="button flip">Logout</a>
	</div>
	<br /><br /> <br />
		<ul class="rounded">
			<li class="arrow"><a href="#bars">Bars</a></li>
			<li class="arrow"><a href="#beers">Beers</a></li>
			<!--- <li class="arrow"><a href="#breweries">Breweries</a></li> --->
		</ul>
</div>