
<div class="itemlist">
<% unless @recent_beer_items.empty? %>
<h2>Added in the last week</h2>
<!-- RECENT BEERS -->
<table>
<thead>
  <tr>
    <th width=200>Name</th>
		<th width=100>ABV</th>
		<th width=150>Volume</th>
		<th width=100 class="abd-table-heading">ABD</th>
		<th width=100>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @recent_beer_items.each do |item| %>
  <tr>
    <td><%= link_to item.beer.name, item.beer %></td>
		<td><%= number_to_percentage item.beer.abv, :precision => 1 %></td>
		<% unless (item.volume.nil? || item.pouring.nil?) %>
    	<td><%= number_to_human(item.volume, :units => {:unit => item.volunit}) %> <%= item.pouring %></td>
    <% else %>
   		<td><%= item.pouring %></td>
    <% end %>

		<% unless (item.beer.abv.nil? || item.volume.nil? || item.price.nil?) %>
			<% case item.volunit %>
				<% when 'oz' %>
					<td><%= sprintf("%.3f",(item.beer.abv*item.volume)/(100*item.price)) %> </td>
				<% when 'ml' %>
					<td><%= sprintf("%.3f",(item.beer.abv*item.volume*0.03381)/(100*item.price)) %> </td>
				<% when 'cl' %>
					<td><%= sprintf("%.3f",(item.beer.abv*item.volume*0.3381)/(100*item.price)) %> </td>
			<% end %>
		<% else %>
			<td></td>
		<% end %>

    <td><%= number_to_currency(item.price) %></td>

   	<% if user_signed_in? && @bar.has_permission?(current_user) %>
	    <td><%= link_to 'Show', item %></td>
	    <td><%= link_to 'Edit', edit_beer_item_path(item) %></td>
	    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
	  <% else %>
	    <td />
	    <td />
	    <td />
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<br />
<% end %>


<!-- ALl BEERS -->
<h2>All Beers</h2>
<table>
<thead>
  <tr>
    <th width=200>Name</th>
		<th width=100>ABV</span></th>
		<th width=150>Volume</th>
		<th width=100 class="abd-table-heading">ABD</th>
		<th width=100>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @beer_items.each do |item| %>
  <tr>		
		<td><%= link_to item.beer.name, item.beer %></td>

		<td><%= number_to_percentage item.beer.abv, :precision => 1 %></td>
		<% unless (item.volume.nil? || item.pouring.nil?) %>
    	<td><%= number_to_human(item.volume, :units => {:unit => item.volunit}) %> <%= item.pouring %></td>
    <% else %>
   		<td><%= item.pouring %></td>
    <% end %>

		<% unless (item.beer.abv.nil? || item.volume.nil? || item.price.nil?) %>
			<% case item.volunit %>
				<% when 'oz' %>
					<td><%= sprintf("%.3f",(item.beer.abv*item.volume)/(100*item.price)) %> </td>
				<% when 'ml' %>
					<td><%= sprintf("%.3f",(item.beer.abv*item.volume*0.03381)/(100*item.price)) %> </td>
				<% when 'cl' %>
					<td><%= sprintf("%.3f",(item.beer.abv*item.volume*0.3381)/(100*item.price)) %> </td>
			<% end %>
		<% else %>
			<td></td>
		<% end %>
		
		<td><%= number_to_currency(item.price) %></td>

   <% if user_signed_in? && @bar.has_permission?(current_user) %>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_beer_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
   <% else %>
    <td />
    <td />
    <td />
   <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
