= form_for(@bar, :html => { :class => "bigform", :multipart => true }) do |f|
  - if @bar.errors.any?
    div id="error_explanation"
      h2 = error_messages_for @bar, :header_message => "Whoops!", :message => "Please address the following:"
  div class="field"
    = f.label :name
    br
    = f.text_field :name
  div class="field"
    = f.label "Address"
    br
    = f.text_field :address 
  div class="field"
    = f.label "City"
    br
    = f.text_field :city
  div class="field"
    = f.label "State"
    br
    = f.text_field :state
  div class="field"
    = f.label "Zip"
    br
    = f.text_field :zip
  div class="field"
    = f.label "Url"
    br
    = f.text_field :url
    
  div class="field"
    = f.label "Image"
    br
    = f.file_field :photo
    p style="margin-left: 215px;" Photo must be in *.jpg or *.png format and must be less than 2 MB in size

  div class="actions"
    = f.submit
