<div data-role="page" id="bars_edit">

	<div data-role="header">
		<a data-rel="back" data-icon="arrow-l">Back</a>
		<h1>Edit Bar</h1>
		<%= render :partial => "layouts/login_or_logout" %>
	</div>

	<div data-role="content">
		<%= render 'form' %>
	</div>
	
	<%= render :partial => "layouts/footer" %>

</div>