<ul class="rounded">
	<% for bar in @bars %>
		<li class="arrow">
			<a class="button_bars_show" data-bar-id="<%= bar.id %>" data-barname="<%= bar.name %>"><%= bar.name %></a>
			<small class="counter"><%= bar.beers.count %></small>
		</li>
	<% end %>
</ul>