<ul class="rounded">
	<% for bar in @bars %>
		<li class="arrow"><a class="button_bars_show" bar-id="<%= bar.id %>" href="#bars_show" bar-name="<%= bar.name %>"><%= bar.name %></a></li>
	<% end %>
</ul>