<div id="bars">
	<div class="toolbar">
		<h1>Bars 2</h1>
		<a class="button back" href="#">Back</a>
	</div>
	<ul class="edgetoedge">
	  <% @bars.each do |t| %>
  			<li><%= link_to t.name, t %></li>
	  <% end %>
	</ul>
</div>