<% content_for :title, "Bars" %>

<!-- <ul class="rounded"><li class="arrow"><%= link_to "New Bar", new_bar_path %></li></ul> -->

<ul class="rounded">
	<% for bar in @bars %>
		<li class="arrow"><%= link_to bar.name, bar %></li>
	<% end %>
</ul>