<% content_for :title, @bar.name %>

<h2>Beers:</h2>
	<ul class="rounded">
		<% for beer_item in @beer_items %>
		<li class="arrow">
			<%= link_to beer_item.beer.name, beer_item.beer %>
			<small class="counter"><%= number_to_currency(beer_item.price) %></small>
		</li>
		<% end %>
	</ul>