/* orange: #FF813C or   #FF8C00*/
* {
  margin: 0 auto; 
}
body {
  color: #333;
  background: url('/images/raysbg.jpg') no-repeat;
}
body, p, ol, ul, td {
  font-size: 13px;
  /* line-height: 18px; */
  margin: 0px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; 
}
p {
  padding: 5px; 
}
a {
/*  color: #002f5f;*/
  color: #AF7817;
  text-decoration: none; 
}
a:hover {
  /* background-color:$highlight-color;
  color:#FFFFFF; */
  color: #b71234; 
}
a.no_hover_background {
  padding: 0 2px;
  text-decoration: none; 
}
#main, #footer {
  width: 910px;
}
#header {
  width: 960px;
  font-family: "Myriad Web Pro",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  color: #333333;
  padding: 20px 0px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px; 
}
#header h1 {
  padding-left: 15px;
  padding-top: 2px;
  margin-bottom: 20px;
  float: left;
  font-size: 36px; 
}
#header h1 a {
  color: black;
  background-color: white;
  color: black;
}
#header h1 a:hover {
  background-color: white;
  color: black;
#ffcf01}
#header p {
  float: right;
}
#header #beta {
  padding-left: 5px;
  vertical-align: -10px;
  font-size: 16px; 
}
#user_bar {
  margin-top: 159px;
  margin-right: 20px;
  float: right; 
  font-family: Helvetica, Arial, sans-serif;
}
#user_bar ul {
  list-style-type: none; 
}
#user_bar li {
  float: left;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 11px; 
}
#user_bar div#site-search-bar {
	float: right;
	margin-top: 8px;
	margin-right: 10px;
}
.greenLine {
  clear: both;
  padding: 5px; 
}
.itemlist {
	background: white;
	position: relative;
  clear: both;
  padding: 5px 10px;
  text-align: left;
  font-size: 11px; 
}
#footer {
  margin-top: 10px;
  clear: both;
  padding: 10px 0;
  text-align: center;
  font-size: 11px; 
}
#main h1 {
  font-size: 24px;
  color: black;
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
  width: 850px; 
}
#main h1 span#beer-style {
  float: right;
  font-size: 18px;
  color: #556b2f; 
}
#main table {
  width: 100%;
  margin: 0px;
  border-collapse: collapse;
  empty-cells: show; 
}
#main table th {
  text-align: left; 
}
#main form {
  text-align: left; 
}
#main form br {
  display: none;
  float: left; 
}

#main div#ratings-container, #main div#popup-ratings-container {
  margin-left: 30px;
}

#main div.ratings-business {
  height: 25px;
}

#main div#ratings-container form.rating_ballot { 
  float: right;
  margin-right: 630px;
  margin-top: -6px !important;
}
#main div#popup-ratings-container form.rating_ballot { 
  float: right;
  margin-right: 60px;
  margin-top: -6px !important;
}
form.rating_ballot input#rating_submit { display: none; }
form.rating_ballot input.rating_button { display: none; }
form.rating_ballot label.rating { cursor: pointer; display: block; height: 25px; width: 25px; float: left; }
form.rating_ballot label.rating span { display: none; }
form.rating_ballot label.rating { background-image: url(../images/star.png); }
form.rating_ballot label.rating.bright { 
	background: transparent url(../images/star.png) no-repeat scroll 0px -25px; 
} 
form.rating_ballot label.rating.glow { 
	background: transparent url(../images/star.png) no-repeat scroll 0px -50px;
}

#main form.bigform label {
  width: 150px;
  display: block;
  text-align: right;
  padding-right: 10px;
  float: left;
  line-height: 21px;
  vertical-align: center;
  /* background-color: #F0F0F0; */
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  margin-left: 40px;
  margin-right: 20px; 
}
#main form label.check_box_label {
  width: auto;
  display: inline;
  text-align: right;
  padding-right: 10px;
  line-height: 21px;
  vertical-align: center;
  background-color: #FFF;
  border: none; 
}
#main form .field, #main form .actions {
  padding-top: 10px;
  clear: both; 
}
#main form .field select, #main form .actions select {
  margin-top: 3px;
  margin-left: 10px; 
}
#main form .actions {
  margin-top: 40px;
  margin-left: 140px; 
}
#main form .following {
  padding-top: 5px;
  padding-left: 3px;
  clear: both; 
}
#main form input#undo_button {
  display: inline;
  float: left; 
}
#main form input#zip-search {
  float: left;
  font-size: 14px;
  width: 60px;
  padding: 2px;
  border: 2px solid #ccc; 
}
#main form input[type=text], #main form input[type=password], #main form textarea {
  float: left;
  font-size: 14px;
  width: 200px;
  padding: 2px;
  border: 2px solid #ccc; 
}
#main form input[type=checkbox] {
  margin: 4px;
  /* float: right; */ 
}
#main form textarea {
  height: 150px;
}
#main form input[type=submit] {
  margin-left: 15px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; 
}
#main form .fieldWithErrors label {
  border: 2px solid red;
  margin-right: 0px; 
}
#main form .fieldWithErrors input, #main form .fieldWithErrors textarea {
  width: 250px;
  border: 2px solid red; 
}
#main h3 {
  padding-top: 10px;
  height: 20px; 
}
#main h3 .actions {
  display: none;
  font-weight: normal;
  font-size: 10px; 
}
#main h3:hover .actions {
  display: inline; 
}
#main #iphone-message {
  text-align: center;
  padding: 25px 50px;
  font-size: 20px; 
}
#main .notice-container {
  width: 40%;
  text-align: center;
}
#main #announcement {
  text-align: center;
  padding: 25px 50px;
  font-size: 25px; 
}

#main #main-page-intro-text {
	padding: 10px;
}
#main #best-deals-table-wrapper {
	margin: 10px;
}
#main .submit-search-button {
  margin-top: 3px; 
}
#main #adv-searching {
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  background: white;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding: 4px;
  width: 200px;
  vertical-align: center;
}
#main #adv-searching .searchable_option {
  margin-left: 15px; 
}
#main #adv-searching #search_submit_btn {
  margin-left: 20px;
  float: right; 
}
#announcement-image {
  position: absolute;
  align: left;
  left: 100px;
  down: 20px;
  z-index: -1;
  height: 62px;
  width: 120px; 
}
.brewerylink {
  font-size: 15px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 12px; 
}
.fieldWithErrors {
  display: table;
  float: left;
  margin: 0;
  width: 100px;
  margin-right: 10px; 
}
#errorExplanation {
  width: 413px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin: 0; 
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff; 
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  margin: 0; 
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square; 
}
#select {
  margin-left: 10px;
}
.zebra {
  background-color: #F0F0F0;
  margin: 0px; 
}
#disclaimer {
  color: blue;
  background-color: #E8E8E8; 
}
.brew-desc {
  padding-left: 20px;
  background-color: #FFFFFF;
}
.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}
.active {
  background-color: #CFECEC; 
}
.search {
  margin-bottom: 35px;
}
#sorted_beer_item_list th .current {
  background: transparent;
  padding-left: 20px;
}
#sorted_beer_item_list th .asc {
  background: transparent url(../images/arrows.png) no-repeat scroll 0px 0px;
  padding-bottom: 2px;
  display: block;
}
#sorted_beer_item_list th .desc {
  background: transparent url(../images/arrows.png) no-repeat scroll 0px -16px;
  padding-bottom: 2px;
  display: block;
}
#sorted_beer_item_list th a {
  color: black;
}
#sorted_beer_item_list th a:hover {
  background-color: white;
  color: #a0102d;
}
div.arrow, span.arrow {
  background: transparent url(../images/arrows.png) no-repeat scroll 0px -16px;
  width: 16px;
  height: 16px;
  display: block; 
}
div.up, span.up {
  background-position: 0px 0px; 
}
table.manager_list tr.beeritems {
  background: white;
  border: solid thin #E8E8E8; 
}
#latest_additions {
  display: inline-block;
}
#new_item {
  display: inline-block;
  text-align: right;
  float: right;
  margin-left: 10px;
}
div#abl_icon {
  width: 210px;
  text-align: center;
  margin: 0 auto;
  height: 95px;
  padding-top: 220px;
  font-family: "Myriad Web Pro",Helvetica,Arial,sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 48px;
  background-color: white;
  color: black;
  border-bottom: 14px solid #ccc;
}
div#abl_about {
  text-align: center;
  font-family: "Myriad Web Pro",Helvetica,Arial,sans-serif;
  margin: 8px auto;
}
p#coming_notice {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 16px;
  font-family: "Myriad Web Pro",Helvetica,Arial,sans-serif;
}
div#wrap {
/*  background: url('/images/beerlist-bg.jpg') repeat-y; */
  background: #ffcc00 url('/images/wrapbg.png') no-repeat;
  width: 960px;
  height: 100%;
  padding-top: 40px;
  -moz-border-radius:0px 0px 25px 25px;
  -webkit-border-radius:0px 0px 25px 25px;
  border-radius:0px 0px 25px 25px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}
div#main {
  padding: 10px;
  background: white;
  border-right: 2px solid #a68a00;
  border-left: 2px solid #a68a00;
  border-bottom: 2px solid #a68a00;
  -webkit-border-radius: 25px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
     -moz-border-radius: 25px; /* FF1-3.6 */
          border-radius: 25px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  font-family: 'Droid Sans', sans-serif;
}
html {
  height: 100%;
  background: #333;
  padding-bottom: 50px;
}
div#title {
  background: url('/images/titleimg.png') no-repeat;
  height: 170px;
  width: 960px;
}
div#footerinfo {
  width: 320px;
}
div#design {
  width:35px;
  float: left;
  padding-right: 10px;
  border-right: 1px solid #aaaaff;
}
div#footercomments {
  text-align: left;
  width: 270px;
  float: right;
}
div#footer p {
  font-size: 9pt !important;
}
div#social {
  clear: both;
}
div.rating-popup {
	padding: 18px;
	position: fixed;
	height: 240px;
	width: 350px;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -230px;
	background: white;
}
div.rating-popup-border {
	padding: 18px;
	position: fixed;
	height: 280px;
	width: 390px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -250px;
	background: #FFCA43;
}
div.rating-popup-shadow {
	position: fixed;
	height: 330px;
	width: 440px;
	top: 50%;
	left: 50%;
	margin-top: -210px;
	margin-left: -260px;
}


span.popup-close-button {  
	right:6px;  
	top:4px;  
	position:absolute;  
	display:block;  
	cursor: pointer;  
}

span.has-had-indicator {
  float: right;
  margin-right: 50px;
  font-size: 14px;
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

table#weekly-specials {
  border: solid #bbb 1px;
}

table#weekly-specials tr.weekly-heading-row {
  background: #FFCA43;
}

table#weekly-specials div.weekday-heading {
  margin-left: 30px;
  font-weight: bold;
}

tr.todays-deal {
  
}

span#bucket {
  margin-left: 4px;
}
div.inline-field input {
  float: none !important;
  margin-left: 4px;
  margin-right: 4px;
  width: 20px !important;
}
a#beer-item-count {
  color: #002f5f;
}
span#beer-count {
  color: red;
}
div#profile-stats {
  border-bottom: solid 1px #bbb;
  padding-bottom: 15px;
  margin: 0 50px 25px 50px;
  text-align: center;
}

img#bar-photo {
  float: right;
  margin-right: 60px;
}
div#bar-photo-missing {
  height: 150px;
  width: 150px;
  float: right;
  margin-right: 60px;
  border: solid #bbb 1px;
  background: #D8D8D8;
  text-align: center;
  border-radius: 10px;
}
div#bar-photo-missing p {
  margin-top: 60px;
}
div#bar-photo-missing a {
  color: white;
}
p#toggle-map-link a {
  cursor: pointer;
}
