<div data-role="page" id="breweries_index" class="breweries-page">

	<div data-role="header">
		<a data-rel="back" data-icon="arrow-l">Back</a>
	  <h1>Breweries</h1>
		<%= render :partial => "layouts/login_or_logout" %>
	</div>

	<div data-role="content">
		<ul data-role="listview" data-theme="d" data-filter="true">
			<% for brewery in @breweries %>
				<li>
					<%= link_to brewery.name, brewery %>
					<div class="ui-li-count"><%= brewery.beers.count %></div>
				</li>
			<% end %>
		</ul>
	</div>

	<%= render :partial => "layouts/footer" %>
	
</div>