<div data-role="page" id="breweries_new" class="breweries-page">

	<div data-role="header">
		<a data-rel="back" data-icon="arrow-l">Back</a>
	  <h1>Breweries</h1>
		<%= render :partial => "layouts/login_or_logout" %>
	</div>

	<div data-role="content">
		<%= render 'form' %>
	</div>
	
	<%= render :partial => "/layouts/footer" %>

</div>
	