- content_for(:scripts) do
  = javascript_include_tag 'rating_ballot'

h1 
	= @beer.name
	- unless @beer.beer_style.nil?
		span id="beer-style"
			= @beer.beer_style.name
div class="brewerylink"
  = link_to @beer.brewery.name, @beer.brewery
p
  strong Being served at #{pluralize(@beer.bars.count, "bar")}
p
  strong Description:
  = @beer.description 
p
  strong ABV:
  = number_to_percentage @beer.abv, :precision => 1 
p
  strong Rate:
p Overall: #{render :partial => "beers/rating", :locals => { :dim => "overall" }}
p Taste:  #{render :partial => "beers/rating", :locals => { :dim => "taste" }}
p Smell:  #{render :partial => "beers/rating", :locals => { :dim => "smell" }}

br
= user_signed_in? ? link_to("Add a new listing", new_beer_item_path(:beer_item => { :beer_id => @beer.id })) : ""

div class="itemlist"
	= render 'beer_items_list'
	
#{link_to 'Edit', edit_beer_path(@beer)}   |   #{link_to 'Back', :back}
