<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><%= link_to "Bars", bars_path, :id => "footer-bars" %></li>
			<li><%= link_to "Beers", beers_path, :id => "footer-beers" %></li>
			<li><%= link_to "Breweries", breweries_path, :id => "footer-breweries" %></li>
		</ul>
	</div>
</div>