div id="notice-container" class="ui-state-highlight ui-corner-all notice-container" style="margin-top: 20px; padding: 0 .7em;"
  p 
    span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"
    strong #{raw(notice)}